# auto_download.yml
name: Auto download

on:
  workflow_dispatch:
  schedule:
    - cron: '0 10 * * *'
jobs:
  auto-download:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: get current id
        run: echo "CURRENTID=$(awk '{print}' current_id)" >> $GITHUB_ENV
      
      - name: TRIGGER WORKFLOW
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
              echo '{"JM_ALBUM_IDS":"${{ env.CURRENTID }}", "IMAGE_SUFFIX":"png", "ZIP_NAME":"${{ env.CURRENTID }}.tar.gz", "UPLOAD_NAME":"漫画${{ env.CURRENTID }}"}' | gh workflow run download_dispatch.yml --json
  
      - name: change current id
        run: current_id=$(awk '{sum = $0+1; print sum}' current_id) && echo $current_id > current_id 

      - name: Commit files
        run: |
              git config --local user.email "temp@fuck.com"
              git config --local user.name "AudoDownloader"
              git commit -a -m "update current_id"
          
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.PERSONAL_TOKEN }}
          branch: ${{ github.ref }}
